<div class='chat-group-user'>
  <input name='group[user_ids][]' type='hidden' value='<%=user.id%>'>
  <p class='chat-group-user__name' id='chat-group-user-id'><%=user.name%></p>
  <div class='user-search-remove chat-group-user__btn chat-group-user__btn--remove js-remove-btn'>削除</div>
</div>
